![Python_logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)


 # **Cortex Game: Round2--Conditional Amount**

Please note that you need to run this notebook 'Round2--Conditional Amount' first, before running the notebook 'Round2--Probability of Giving'.

> Before playing the game, you need to connect to SASPy first.
>
>> If it is your first time, please follow the 4 steps mentioned below!

***
## **Connect to SASPy**

**0- Connect to your Google Drive folder**

In [ ]:
my_folder = "/content/drive/MyDrive/retoo"

from google.colab import drive
drive.mount('/content/drive')

# Change the following code to set your Drive folder
import os
os.chdir(my_folder)
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/retoo

**1- Make sure that your Python version is 3.3 or higher as well as your Java version is 1.8.0_162 or higher**

In [ ]:
!echo "Python is at" $(which python)
!python --version

Python is at /usr/local/bin/python
Python 3.8.15

In [ ]:
!echo "Java is at" $(which java)
!/usr/bin/java -version

Java is at /usr/bin/java
openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu218.04, mixed mode, sharing)

**2- Install SASPy**

In [ ]:
!pip install saspy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: saspy in /usr/local/lib/python3.8/dist-packages (4.4.1)

**3- Create the configuration file "sascfg_personal.py"**
Please, check that your Home Region is correct, you can check it at [ODA-SAS](https://welcome.oda.sas.com/home)

In [ ]:
%%writefile sascfg_personal.py
SAS_config_names=['oda']
oda = {'java' : '/usr/bin/java',
#US Home Region 1
'iomhost' : ['odaws01-usw2.oda.sas.com','odaws02-usw2.oda.sas.com','odaws03-usw2.oda.sas.com','odaws04-usw2.oda.sas.com'],
#US Home Region 2
#'iomhost' : ['odaws01-usw2-2.oda.sas.com','odaws02-usw2-2.oda.sas.com'],
#European Home Region 1
#'iomhost' : ['odaws01-euw1.oda.sas.com','odaws02-euw1.oda.sas.com'],
#Asia Pacific Home Region 1
#'iomhost' : ['odaws01-apse1.oda.sas.com','odaws02-apse1.oda.sas.com'],
#Asia Pacific Home Region 2
#'iomhost' : ['odaws01-apse1-2.oda.sas.com','odaws02-apse1-2.oda.sas.com'],
'iomport' : 8591,
'authkey' : 'oda',
'encoding' : 'utf-8'
}

Overwriting sascfg_personal.py

**4- Create your .authinfo**

If there is no .authinfo file, you can create this

In [ ]:
#%%writefile .authinfo
#oda user USR password PSW

Copy this file to home

In [ ]:
!cp .authinfo ~/.authinfo

cp: cannot stat '.authinfo': No such file or directory

**5- Establish Connection (Need to do this step each time you use SASPy)**

In [ ]:
import saspy
sas_session = saspy.SASsession(cfgfile=os.path.join(
    my_folder,"sascfg_personal.py"))
sas_session

Using SAS Config named: oda
Error trying to read authinfo file:/root/.authinfo
[Errno 2] No such file or directory: '/root/.authinfo'
Did not find key oda in authinfo file:/root/.authinfo

Please enter the OMR user id: A00828688@tec.mx
Please enter the password for OMR user : ··········
SAS Connection established. Subprocess id is 2480

Access Method         = IOM
SAS Config name       = oda
SAS Config file       = /content/drive/MyDrive/retoo/sascfg_personal.py
WORK Path             = /saswork/SAS_work65DA00018A52_odaws01-usw2.oda.sas.com/SAS_workECDA00018A52_odaws01-usw2.oda.sas.com/
SAS Version           = 9.04.01M6P11072018
SASPy Version         = 4.4.1
Teach me SAS          = False
Batch                 = False
Results               = Pandas
SAS Session Encoding  = utf-8
Python Encoding value = utf-8
SAS process Pid value = 100946

***
## Connect to Cortex Data Sets

Load Cortex datasets from SAS Studio

In [ ]:
ps = sas_session.submit("""
    libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
    """)
print(ps["LOG"])

5                                                          The SAS System                      Friday, December  2, 2022 10:40:00 AM

24         ods listing close;ods html5 (id=saspy_internal) file=_tomods1 options(bitmap_mode='inline') device=svg style=HTMLBlue;
24       ! ods graphics on / outputfmt=png;
25
26
27             libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
28
29
30
31         ods html5 (id=saspy_internal) close;ods listing;
32

6                                                          The SAS System                      Friday, December  2, 2022 10:40:00 AM

33

For local Jupyter

In [ ]:
#%%SAS sas_session
#libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';

### Transform cloud SAS dataset to Python dataframe (pandas)

> For reference: 

> 1- [Pandas library](https://pandas.pydata.org/docs/user_guide/index.html)

> 2- [sklearn.model_selection for data partition](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [ ]:
import pandas as pd

#comment: Transform cloud sas dataset to python dataframe(pandas) ==> might take some time.

data1 = sas_session.sasdata2dataframe(
table='hist',
libref='cortex'
)

data2 = sas_session.sasdata2dataframe(
table='target_rd2',
libref='cortex'
)

No SAS process attached. SAS process has terminated unexpectedly.

ValueError: ignored

## Merge the Data

In [ ]:
#Step1 Merge the Data
data_merge = pd.merge(data1, data2, on=["ID"],how="right")
data_merge = data_merge.loc[(data_merge['GaveThisYear'] ==1)]
data_merge.sample(2)

,ID,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,...,Frequency,Seniority,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,Contact,GaveThisYear,AmtThisYear
304497,2304498.0,RIVERA,MELISSA,1.0,71.0,168200.0,University / College,City,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,75.0
187723,2187724.0,SLINGERLAND,MARK,0.0,77.0,50900.0,University / College,City,8.0,2.0,...,3.0,8.0,90.0,20.0,50.0,0.0,0.0,0.0,1.0,40.0

In [ ]:
data_merge.rename(columns={"City": "Location"}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
data_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149457 entries, 3 to 999998
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            149457 non-null  float64
 1   LastName      149454 non-null  object
 2   FirstName     149457 non-null  object
 3   Woman         149457 non-null  float64
 4   Age           149457 non-null  float64
 5   Salary        149457 non-null  float64
 6   Education     149457 non-null  object
 7   Location      149457 non-null  object
 8   SeniorList    149457 non-null  float64
 9   NbActivities  149457 non-null  float64
 10  Referrals     149457 non-null  float64
 11  Recency       68433 non-null   float64
 12  Frequency     68433 non-null   float64
 13  Seniority     68433 non-null   float64
 14  TotalGift     68433 non-null   float64
 15  MinGift       68433 non-null   float64
 16  MaxGift       68433 non-null   float64
 17  GaveLastYear  149457 non-null  float64
 18  AmtLastYear   149457 non-null  float64
 19  Contact       149457 non-null  float64
 20  GaveThisYear  149457 non-null  float64
 21  AmtThisYear   149457 non-null  float64
dtypes: float64(18), object(4)
memory usage: 26.2+ MB

## Treating Missing Values

>Please be aware that deleting all missing values can induce a selection bias. 
Some missing values are very informative. For example, when MinGift is missing, it means that the donor never gave in the past 10 years (leading to but excluding last year). Instead of deleting this information, replacing it by 0 is more appropriate!

> A good understanding of the business case and the data can help you come up with more appropriate strategies to deal with missing values.

In [ ]:
# In this case, we are replacing MinGift with 0.
# You can do the same for what you think is reasonable for dealing with the other variables.
data_mergeN = pd.merge(data1, data2, on=["ID"],how="right")

import numpy as np

data_mergeN = dummies(data_merge, "Education")
data_mergeN = dummies(data_mergeN, "Location")

data_mergeN[['Salary']] = data_mergeN[['Salary']].fillna(value=0)  

data_mergeN[['Referrals']] = data_mergeN[['Referrals']].fillna(value=0)  

data_mergeN[['TotalGift']] = data_mergeN[['TotalGift']].fillna(value=0)  

data_mergeN[['MaxGift']] = data_mergeN[['MaxGift']].fillna(value=0)  

data_mergeN[['MinGift']] = data_mergeN[['MinGift']].fillna(value=0)  

data_mergeN[['AmtLastYear']] = data_mergeN[['AmtLastYear']].fillna(value=0)  
data_mergeN[['HistoricDonor']] = data_merge[['Frequency']].notna().astype(int)

data_mergeN[['Recency']] = data_mergeN[['Recency']].fillna(value=1000)  

def dummies(df, column):
  df = pd.concat([df, pd.get_dummies(df[column])], axis = 1)
  return df.drop(column, axis=1)



data_mergeN['logSalary']= np.log(data_mergeN['Salary'])
data_mergeN['logReferrals']= np.log(data_mergeN['Referrals'])
data_mergeN['logTotalGift']= np.log(data_mergeN['TotalGift'])
data_mergeN['logMaxGift']= np.log(data_mergeN['MaxGift'])
data_mergeN['logMinGift']= np.log(data_mergeN['MinGift'])
data_mergeN['logAmtLastYear']= np.log(data_mergeN['AmtLastYear'])


data_mergeN_sorted = data_mergeN.sort_values('GaveThisYear',ascending=False)
data_mergeN_sorted.head(10)

/usr/local/lib/python3.8/dist-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,ID,LastName,FirstName,Woman,Age,Salary,SeniorList,NbActivities,Referrals,Recency,...,Downtown,Rural,Suburban,HistoricDonor,logSalary,logReferrals,logTotalGift,logMaxGift,logMinGift,logAmtLastYear
3,2000004.0,LEE,MARY,1.0,78.0,23700.0,3.0,0.0,0.0,1000.0,...,0,1,0,0,10.073230,-inf,-inf,-inf,-inf,-inf
664861,2664862.0,IVERY,YOLANDA,1.0,86.0,20800.0,4.0,1.0,3.0,2.0,...,0,1,0,1,9.942708,1.098612,2.302585,2.302585,2.302585,-inf
665053,2665054.0,NAVARRO,ANGIE,1.0,26.0,149700.0,7.0,3.0,2.0,4.0,...,0,1,0,1,11.916389,0.693147,6.593045,6.551080,3.401197,-inf
665055,2665056.0,SMYTHE,HERBERT,0.0,76.0,25000.0,0.0,0.0,0.0,1000.0,...,0,1,0,0,10.126631,-inf,-inf,-inf,-inf,-inf
665066,2665067.0,SANCHEZ,LINDA,1.0,47.0,128200.0,3.0,0.0,0.0,2.0,...,0,0,1,1,11.761347,-inf,4.605170,4.605170,4.605170,-inf
665071,2665072.0,WU,RONALD,0.0,43.0,168200.0,4.0,0.0,0.0,1000.0,...,0,0,0,0,12.032909,-inf,-inf,-inf,-inf,-inf
665080,2665081.0,CURTIS,JUDITH,1.0,40.0,37900.0,8.0,0.0,1.0,1000.0,...,1,0,0,0,10.542706,0.000000,-inf,-inf,-inf,-inf
665083,2665084.0,JIMENEZ,ROGER,0.0,68.0,52200.0,0.0,0.0,0.0,1000.0,...,0,0,0,0,10.862838,-inf,-inf,-inf,-inf,-inf
665085,2665086.0,BAKER,BELEN,1.0,37.0,20000.0,0.0,0.0,0.0,1000.0,...,0,0,0,0,9.903488,-inf,-inf,-inf,-inf,2.995732
665089,2665090.0,CLAY,LINDA,1.0,71.0,29100.0,10.0,7.0,1.0,1.0,...,0,0,1,1,10.278493,0.000000,4.941642,4.317488,2.302585,-inf

In [ ]:
data_mergeN_sorted.loc[data_mergeN_sorted['logSalary'] < 1, 'logSalary'] = 0
data_mergeN_sorted.loc[data_mergeN_sorted['logReferrals'] < 1, 'logReferrals'] = 0
data_mergeN_sorted.loc[data_mergeN_sorted['logTotalGift'] < 1, 'logTotalGift'] = 0
data_mergeN_sorted.loc[data_mergeN_sorted['logTotalGift'] < 1, 'logTotalGift'] = 0
data_mergeN_sorted.loc[data_mergeN_sorted['logMaxGift'] < 1, 'logMaxGift'] = 0
data_mergeN_sorted.loc[data_mergeN_sorted['logMinGift'] < 1, 'logMinGift'] = 0
data_mergeN_sorted.loc[data_mergeN_sorted['logAmtLastYear'] < 1, 'logAmtLastYear'] = 0
data_mergeN_sorted.rename(columns={"City": "Location"}, inplace = True)


data_mergeN_sorted

,ID,LastName,FirstName,Woman,Age,Salary,SeniorList,NbActivities,Referrals,Recency,...,Downtown,Rural,Suburban,HistoricDonor,logSalary,logReferrals,logTotalGift,logMaxGift,logMinGift,logAmtLastYear
3,2000004.0,LEE,MARY,1.0,78.0,23700.0,3.0,0.0,0.0,1000.0,...,0,1,0,0,10.073230,0.000000,0.000000,0.000000,0.000000,0.0
664861,2664862.0,IVERY,YOLANDA,1.0,86.0,20800.0,4.0,1.0,3.0,2.0,...,0,1,0,1,9.942708,1.098612,2.302585,2.302585,2.302585,0.0
665053,2665054.0,NAVARRO,ANGIE,1.0,26.0,149700.0,7.0,3.0,2.0,4.0,...,0,1,0,1,11.916389,0.000000,6.593045,6.551080,3.401197,0.0
665055,2665056.0,SMYTHE,HERBERT,0.0,76.0,25000.0,0.0,0.0,0.0,1000.0,...,0,1,0,0,10.126631,0.000000,0.000000,0.000000,0.000000,0.0
665066,2665067.0,SANCHEZ,LINDA,1.0,47.0,128200.0,3.0,0.0,0.0,2.0,...,0,0,1,1,11.761347,0.000000,4.605170,4.605170,4.605170,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332468,2332469.0,AGUDELO,NANCY,1.0,71.0,14100.0,5.0,0.0,1.0,1000.0,...,0,0,0,0,9.553930,0.000000,0.000000,0.000000,0.000000,0.0
332471,2332472.0,CONNOR,SHANNON,1.0,87.0,46800.0,5.0,0.0,0.0,1.0,...,0,0,1,1,10.753638,0.000000,3.218876,3.218876,3.218876,0.0
332485,2332486.0,NELSON,GEORGE,0.0,29.0,47300.0,3.0,0.0,1.0,1000.0,...,0,0,1,0,10.764266,0.000000,0.000000,0.000000,0.000000,0.0
332491,2332492.0,BUDROW,CHRISTOPHER,0.0,24.0,12300.0,2.0,1.0,0.0,1000.0,...,0,0,1,0,9.417355,0.000000,0.000000,0.000000,0.000000,0.0
999998,2999999.0,LIBERTI,PAMELA,1.0,32.0,43900.0,0.0,0.0,0.0,1000.0,...,0,1,0,0,10.689670,0.000000,0.000000,0.000000,0.000000,0.0

## Data Partition

In [ ]:
# The code below is an illustration on how to sample data on train and validation samples.
# You could use another library or a built-in function to perform sampling.

from sklearn.model_selection import train_test_split
train, validation = train_test_split(data_mergeN_sorted, test_size=0.4, random_state=44444) 
train.sample(2)

,ID,LastName,FirstName,Woman,Age,Salary,SeniorList,NbActivities,Referrals,Recency,...,Downtown,Rural,Suburban,HistoricDonor,logSalary,logReferrals,logTotalGift,logMaxGift,logMinGift,logAmtLastYear
593329,2593330.0,MITCHELL,ROSEMARY,1.0,32.0,32700.0,8.0,3.0,0.0,7.0,...,0,0,0,1,10.395130,0.0,3.912023,3.912023,3.912023,0.0
451369,2451370.0,LOZZI,JOSEPH,0.0,25.0,23900.0,0.0,0.0,0.0,1000.0,...,0,0,0,0,10.081634,0.0,0.000000,0.000000,0.000000,0.0

In [ ]:
# v8

X_train = train[['logTotalGift', 'logSalary','logAmtLastYear','Age','Referrals','logMinGift','logMaxGift','Woman','Recency','Contact','GaveLastYear','University / College','Elementary','Downtown','Seniority', 'Rural', 'Suburban']] 
Y_train = train['AmtThisYear']
X_valid = validation[['logTotalGift', 'logSalary','logAmtLastYear','Age','Referrals','logMinGift','logMaxGift','Woman','Recency','Contact','GaveLastYear','University / College','Elementary','Downtown','Seniority', 'Rural', 'Suburban']] 
Y_valid = validation['AmtThisYear']


## Prebuilt Models

***
### Linear Regression Model


> The [sk-learn library]( https://scikit-learn.org/stable/index.html) offers more advanced models.

In [ ]:
from sklearn import linear_model

regr = linear_model.LinearRegression()

regr.fit(X_train,Y_train)

regr_predict=regr.predict(X_valid)

print(regr_predict)

ValueError: ignored

In [ ]:
import numpy as np
from sklearn import metrics
#MAE
print(metrics.mean_absolute_error(Y_valid,regr_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,regr_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,regr_predict)))

## Regression Tree Model（Py）

In [ ]:
from sklearn.tree import DecisionTreeRegressor

DT_model = DecisionTreeRegressor(max_depth=5, random_state=0).fit(X_train,Y_train)
DT_predict = DT_model.predict(X_valid) #Predictions on Testing data
print(DT_predict)

In [ ]:
#you can change the criteria
#MAE
print(metrics.mean_absolute_error(Y_valid,DT_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,DT_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,DT_predict)))

## XGB Boost Model

In [ ]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor(objective='reg:squarederror').fit(X_train, Y_train)
XGB_predict = xgb_model.predict(X_valid)

In [ ]:
#you can change the criteria
#MAE
print(metrics.mean_absolute_error(Y_valid,XGB_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,XGB_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,XGB_predict)))

# lgb

### **Other models may also be helpful for this game**

Reference: https://scikit-learn.org/stable/supervised_learning.html

## Scoring New Data

### Prepare data for scoring

In [ ]:
data3 = sas_session.sasdata2dataframe(
table='score',
libref='cortex'
)
data4 = sas_session.sasdata2dataframe(
table='score_rd2_contact',
libref='cortex'
)
data5 = sas_session.sasdata2dataframe(
table='score_rd2_nocontact',
libref='cortex'
)

 ### Score new data based on your champion model
 
 Pick your champion model from previous steps and use it to predict next year donations. 
 
 In this case, the linear regression model performed better than the regression tree based on the MSE criteria.

### Predict 'amount given' for members who were contacted

In [ ]:
scoring_data_contact = pd.merge(data3, data4, on=["ID"],how="right")

# Perform the same strategy for handling missing values for the score dataset.
# In this case, we will only replace missing values of the MinGift variable.
scoring_data_contact.rename(columns={"City": "Location"}, inplace = True)

import numpy as np
scoring_data_contact[['Salary']] = scoring_data_contact[['Salary']].fillna(value=0)  
scoring_data_contact[['Referrals']] = scoring_data_contact[['Referrals']].fillna(value=0)  
scoring_data_contact[['TotalGift']] = scoring_data_contact[['TotalGift']].fillna(value=0)  
scoring_data_contact[['MaxGift']] = scoring_data_contact[['MaxGift']].fillna(value=0)  
scoring_data_contact[['MinGift']] = scoring_data_contact[['MinGift']].fillna(value=0)  
scoring_data_contact[['AmtLastYear']] = scoring_data_contact[['AmtLastYear']].fillna(value=0)  
scoring_data_contact[['Recency']] = scoring_data_contact[['Recency']].fillna(value=100)  
scoring_data_contact[['HistoricDonor']] = scoring_data_contact[['Frequency']].notna().astype(int)


scoring_data_contact['logSalary']= np.log(scoring_data_contact['Salary'])+1
scoring_data_contact['logReferrals']= np.log(scoring_data_contact['Referrals'])+1
scoring_data_contact['logTotalGift']= np.log(scoring_data_contact['TotalGift'])+1
scoring_data_contact['logMaxGift']= np.log(scoring_data_contact['MaxGift'])+1
scoring_data_contact['logMinGift']= np.log(scoring_data_contact['MinGift'])+1
scoring_data_contact['logAmtLastYear']= np.log(scoring_data_contact['AmtLastYear'])+1

scoring_data_contact.head(10)

scoring_data_contact.loc[scoring_data_contact['logSalary'] < 1, 'logSalary'] = 0
scoring_data_contact.loc[scoring_data_contact['logReferrals'] < 1, 'logReferrals'] = 0
scoring_data_contact.loc[scoring_data_contact['logTotalGift'] < 1, 'logTotalGift'] = 0
scoring_data_contact.loc[scoring_data_contact['logTotalGift'] < 1, 'logTotalGift'] = 0
scoring_data_contact.loc[scoring_data_contact['logMaxGift'] < 1, 'logMaxGift'] = 0
scoring_data_contact.loc[scoring_data_contact['logMinGift'] < 1, 'logMinGift'] = 0
scoring_data_contact.loc[scoring_data_contact['logAmtLastYear'] < 1, 'logAmtLastYear'] = 0


scoring_data_contact = dummies(scoring_data_contact, "Education")
scoring_data_contact = dummies(scoring_data_contact, "Location")

X = scoring_data_contact[['logTotalGift', 'logSalary','logAmtLastYear','Age','Referrals','logMinGift','logMaxGift','Woman','Recency','Contact','GaveLastYear','University / College','Elementary','Downtown', 'Rural', 'Suburban']] 

regr_predict_contact=xgb_model.predict(X)

scoring_data_contact['Prediction'] = regr_predict_contact

scoring_data_contact= scoring_data_contact[['ID','Prediction']]
scoring_data_contact = scoring_data_contact.rename({'Prediction': 'AmtContact'}, axis=1) 
scoring_data_contact.head()

### Predict 'amount given' for members who were not contacted

In [ ]:
scoring_data_nocontact = pd.merge(data3, data5, on=["ID"],how="right")

# Perform the same strategy for handling missing values for the score dataset.
# In this case, we will only replace missing values of the MinGift variable.
scoring_data_nocontact.rename(columns={"City": "Location"}, inplace = True)

import numpy as np
scoring_data_nocontact[['Salary']] = scoring_data_nocontact[['Salary']].fillna(value=0)  
scoring_data_nocontact[['Referrals']] = scoring_data_nocontact[['Referrals']].fillna(value=0)  
scoring_data_nocontact[['TotalGift']] = scoring_data_nocontact[['TotalGift']].fillna(value=0)  
scoring_data_nocontact[['MaxGift']] = scoring_data_nocontact[['MaxGift']].fillna(value=0)  
scoring_data_nocontact[['MinGift']] = scoring_data_nocontact[['MinGift']].fillna(value=0)  
scoring_data_nocontact[['AmtLastYear']] = scoring_data_nocontact[['AmtLastYear']].fillna(value=0)  
scoring_data_nocontact[['Recency']] = scoring_data_nocontact[['Recency']].fillna(value=100)  
scoring_data_nocontact[['HistoricDonor']] = scoring_data_nocontact[['Frequency']].notna().astype(int)


scoring_data_nocontact = dummies(scoring_data_nocontact, "Education")
scoring_data_nocontact = dummies(scoring_data_nocontact, "Location")


scoring_data_nocontact['logSalary']= np.log(scoring_data_nocontact['Salary'])+1
scoring_data_nocontact['logReferrals']= np.log(scoring_data_nocontact['Referrals'])+1
scoring_data_nocontact['logTotalGift']= np.log(scoring_data_nocontact['TotalGift'])+1
scoring_data_nocontact['logMaxGift']= np.log(scoring_data_nocontact['MaxGift'])+1
scoring_data_nocontact['logMinGift']= np.log(scoring_data_nocontact['MinGift'])+1
scoring_data_nocontact['logAmtLastYear']= np.log(scoring_data_nocontact['AmtLastYear'])+1

scoring_data_nocontact.head(10)

scoring_data_nocontact.loc[scoring_data_nocontact['logSalary'] < 1, 'logSalary'] = 0
scoring_data_nocontact.loc[scoring_data_nocontact['logReferrals'] < 1, 'logReferrals'] = 0
scoring_data_nocontact.loc[scoring_data_nocontact['logTotalGift'] < 1, 'logTotalGift'] = 0
scoring_data_nocontact.loc[scoring_data_nocontact['logTotalGift'] < 1, 'logTotalGift'] = 0
scoring_data_nocontact.loc[scoring_data_nocontact['logMaxGift'] < 1, 'logMaxGift'] = 0
scoring_data_nocontact.loc[scoring_data_nocontact['logMinGift'] < 1, 'logMinGift'] = 0
scoring_data_nocontact.loc[scoring_data_nocontact['logAmtLastYear'] < 1, 'logAmtLastYear'] = 0

X = scoring_data_nocontact[['logTotalGift', 'logSalary','logAmtLastYear','Age','Referrals','logMinGift','logMaxGift','Woman','Recency','Contact','GaveLastYear','University / College','Elementary','Downtown', 'Rural', 'Suburban']] 
regr_predict_nocontact=xgb_model.predict(X)

scoring_data_nocontact['Prediction'] = regr_predict_nocontact

scoring_data_nocontact= scoring_data_nocontact[['ID','Prediction']]
scoring_data_nocontact = scoring_data_nocontact.rename({'Prediction': 'AmtNoContact'}, axis=1) 
scoring_data_nocontact.head()

In [ ]:
result_Amt = pd.merge(scoring_data_contact, scoring_data_nocontact, on=["ID"],how="right")
result_Amt.sort_values(by=['ID'], inplace=True)
result_Amt.head(3)

## Exporting Results to a CSV File

In [ ]:
result_Amt.to_csv('Round2_Output_amt.csv', index=False)

In [ ]:
# Reminder: You are now done with step 1 of Round 2 on predicting the conditional amount.
# Next, to complete Round2, you need to perform step 2 to predict the probability of giving, calculate the uplift and prepare your decision.

In [ ]:
!head Round2_Output_amt.csv